# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Conda environments
# =========================
.env
.venv
venv/
env/
ENV/
conda-env/
*.conda

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/

# =========================
# Logs
# =========================
*.log
logs/


# =========================
# Model artifacts
# =========================
models/
*.pkl
*.joblib
*.model
*.h5
*.onnx

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

# VS Code
.vscode/

# JetBrains
.idea/

# =========================
# Docker
# =========================
*.tar

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Python packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Temporary
# =========================
tmp/
temp/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/